<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Логин для доступа к Weborama API -->
    <add key="WeboramaLogin" value="YourWeboramaLogin"/>
    <!-- Пароль для доступа к Weborama API -->
    <add key="WeboramaPassword" value="YourWeboramaPassword"/>
    <!-- Идентификатор аккаунта Weborama -->
    <add key="WeboramaAccountId" value="YourWeboramaAccountId"/>
  </appSettings>
</configuration>